body {
	background-color: #ADD8E6;
	font-family: 'Quicksand', sans-serif;
}
.todo-container-done {
	background: #d2f8d2 !important;
}
.todo-done {
	text-decoration: line-through;
}


.dot {
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* ========== Feladatok =============== */ 

.container {
	margin: 0 auto;
	width: 80%; 							
	text-align: center;
}

.todo {
	background-color: white;
	width: 100%;
	padding: 10px;
	position: relative;
	border: 1px solid #dadada;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	box-sizing: border-box;
}

#todos {
	width: 80%; 								
	margin: 60px auto;
	text-align: left;
}

.list-item-title {
	width: calc(100% - 50px);
    display: inline-block;
	margin-left: 15px;
}


.list-item-buttons {
	width: 45px;
    display: inline-block;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.fa-trash-alt {
	color: #DC143C;
}

.fa-check {
	color: #90EE90;
}

.fa-minus-circle {
	color: #FFA07A;
}

.input-field {
	margin: 5px;
	width: 100%;
	padding: 15px;
	border: 1px solid #dadada;
	border-radius: 10px;
	cursor: pointer;
	box-sizing: border-box;
}

.todo-edit {
	width: calc(100% - 20px);
	border: 0;
	font-size: 16px;
	cursor: pointer;
}

.add-button {
	margin-top: 20px;
	padding: 12px;
	border: 1px solid #dadada;
	background-color: #00CED1;
	font-size: 18px;
	color: white;
	border-radius: 10px;
}

#no-todos {
	margin: 2em;
	padding: 0.5em;
	background-color: white;
	border-radius: 0.8em;
}


/* ================= Naptár beállítások ============= */

.calendar-container {
	display: flex;
	margin-bottom: 2em;
}

#calendar {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#calendar-todos, #search-todos {
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	background-color: white;
	border-radius: 0.8em;
	height: auto;
	font-weight: 800;
	width: 80%;
}


/* ============================  Mobil verzió  ============================ */


@media(max-width: 768px) {

	.calendar-container {
		display: block;
		justify-content: center;
	}

	#calendar-todos {
		margin-top: 12px;
	}
}